In [34]:
"""
Importing eatb(workables and non workables) files to SQL from a desired folder
"""
import pandas as pd
import numpy as np
import time
import datetime
import os
import pyodbc

start = time.time()

print(f"The process started at {datetime.datetime.now()}")

#Getting the list of file

main_folder = r"C:\Users\GN082282\OneDrive - Cerner Corporation\Desktop\Test"

list_of_files = os.listdir(path=main_folder)

#Adding folders
list_of_ffile = []
for i in list_of_files:
    list_of_ffile.append(os.path.join(main_folder,i))
    
    
#Importing file to dataframe

all_data = pd.DataFrame()

for i in list_of_ffile:
    df = pd.read_excel(i)
    all_data = all_data.append(df, ignore_index=True)

#Changing the column names and getting the desired columns

new_col_list = ['Billing Entity', 'Encounter Number','Discharge Date',
                'Insurance Balance', 'Encounter Balance', 
                'DNFB Status','DNFB Reason', 'Discharge Aging Category',
                'Discharge Aging Range','Created Date',
                'Activity Date', 'Balance Type 1', 'Category', 'FBD Aging',
                'LBD Aging', 'DOS Aging Bucket',
                'Worked in last 15 days Bucket',
                'Final Status', 'Status']        
all_data = all_data[new_col_list]
all_data.to_excel(r"C:\Users\GN082282\OneDrive - Cerner Corporation\Desktop\Team Related\CPID Project\Test.xlsx", index=False)
all_data.to_numpy()

""" 
Starting the SQL update using pyodbc library. The values in the tables are 
converted to numpy arrays so that the same can be appended using for loop into desired SQL Server
"""

#Converting the NaT pandas values to None type
def remove_NaT():
    for i in all_data:
        for n,j in enumerate(i):
            if j is pd.NaT:
                i[n] = None
                
                
    return all_data



#Connecting to SQL Server
server_name = "W1751904\LOCAL_CERNER"
database_name = "Test_Productivity_Dashboard"
conn = pyodbc.connect(Driver='{SQL Server Native Client 11.0}',
                      Server=server_name,
                      Database=database_name,
                      trusted_connection='yes')


cursor = conn.cursor()


#Uploading in SQL Action Code table
insert_query = """INSERT INTO EATB_Modified (['Billing Entity'], ['Encounter Number'],['Discharge Date'],
                                             ['Insurance Balance'], ['Encounter Balance'], 
                                             ['DNFB Status'],['DNFB Reason'], ['Discharge Aging Category'],
                                             ['Discharge Aging Range'],['Created Date'],
                                             ['Activity Date'], ['Balance Type 1'], ['Category'], ['FBD Aging'],
                                             ['LBD Aging'], ['DOS Aging Bucket'],
                                             ['Worked in last 15 days Bucket'],['Final Status'], ['Status']) 
                                             VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                """


for row in all_data_fil:
    values = (row[0],str(row[1]),str(row[2]),str(row[3]),row[4],str(row[5]),row[6],str(row[7]),row[8],str(row[9]),
              str(row[10]),str(row[11]),str(row[12]),str(row[13]),str(row[14]),row[15],str(row[16]),row[17],row[18])
    cursor.execute(insert_query,values)

conn.commit()
print("EATB uploaded to SQL Server")

#all_data_fil.to_excel(local_path+"\\"+list_of_folder[0]+".xlsx", index=False)
#print(f"File saved to {local_path}")

total_time = time.time()
print(f"The total time taken for the entire process was {round((total_time - start)/60)} minutes")

The process started at 2020-12-21 21:11:39.668965

NameError: name 'all_data_fil' is not defined

In [26]:
all_data.to_excel(r"C:\Users\GN082282\OneDrive - Cerner Corporation\Desktop\Team Related\CPID Project\Test.xlsx", index=False)

In [22]:
new_col_list = ['Billing Entity', 'Encounter Number','Discharge Date',
                'Insurance Balance', 'Encounter Balance', 
                'DNFB Status','DNFB Reason', 'Discharge Aging Category',
                'Discharge Aging Range','Created Date',
                'Activity Date', 'Balance Type 1', 'Category', 'FBD Aging',
                'LBD Aging', 'DOS Aging Bucket',
                'Worked in last 15 days Bucket',
                'Final Status', 'Status']

In [23]:
all_data_cols = all_data[new_col_list]
all_data_cols.reset_index(inplace=True, drop=True)

In [32]:
row = []
for i in range(0,19):
    row.append(f"row[{i}]")

In [33]:
row

['row[0]',
 'row[1]',
 'row[2]',
 'row[3]',
 'row[4]',
 'row[5]',
 'row[6]',
 'row[7]',
 'row[8]',
 'row[9]',
 'row[10]',
 'row[11]',
 'row[12]',
 'row[13]',
 'row[14]',
 'row[15]',
 'row[16]',
 'row[17]',
 'row[18]']